.car-preview-card__button {
  font-size: 1em;
  font-family: inherit;
  border: 0.2em solid var(--white);
  padding: 1em;
  width: 9em;
  border-radius: 3em;
  background-color: var(--white);
  transition: all 0.3s;
}

.car-preview-card__button:hover {
  cursor: pointer;
  transition: all 0.3s;
}
